@charset "utf-8";
/* CSS Document */

html, body{height:100%;}
body{font-size:12px; color:#666; font-family:Arial,sans-serif; padding:0; margin:0; background:#9C0;}
h1,h2,h3,h4,h5,h6,p,ul,li,hr,input,select,buttom,label{font-size:12px; font-weight:normal; padding:0; margin:0;} /* 重设部分css */
input, select, button, label{vertical-align:middle;}
li{display:block; list-style:none;}
a{color:#666; text-decoration:none;}
img{border:none;}
.clear{clear:both;}

.logoBG_g{display:block; width:230px; height:69px; background:url(../img/logo.jpg) -230px 0 no-repeat; position:absolute; top:-110px;}
.logoBG_g:hover{background:url(../img/logo.jpg) -230px -80px no-repeat;}
#floater{height:50%; margin-bottom:-106px;}
#mainForm{width:600px; height:212px; border:1px #8AAB1B solid; margin:0 auto; padding-top:-30px; background:#EFEFEF; position:relative;}
#leftForm{width:180px; height:82px; border-right:1px #CCC solid; padding:65px 74px 65px 135px; float:left;}
#rightForm{width:189px; _width:185px; height:100%; padding:0 10px; border-left:1px #FFF solid; float:left;}
#findCompForm{width:450px; height:82px; text-align:center; margin:65px 75px;}

.Item{height:24px; margin-bottom:20px; position:relative;}
.Item label{width:70px; line-height:24px; position:absolute; left:-70px;}
.Item a{color:#8AAB1B; margin-left:10px;}
.Item a:hover{color:#EFEFEF; background:#9C0;}
.Item span{margin-top:4px;}
.text{width:178px; height:14px; padding:4px 2px; border:1px #CCC solid;}
.botton{display:block; width:118px; line-height:30px; font-weight:bold; color:#FFF; text-align:center; border:1px #8AAB1B solid; background:#9C0;}
.botton:hover{background:#C1E34A;}

.step{width:600px; height:6px; position:absolute; top:-30px; _display:none;}
.progressEmpty{width:584px; height:4px; margin:0 auto; padding:1px; background:url(../img/daxia_sprites.png) -7px -210px no-repeat;}
.progressFill{width:34%; height:4px; background:url(../img/daxia_sprites.png) -8px -217px no-repeat;}
.progressPiont{width:18px; height:18px; background:url(../img/daxia_sprites.png) -581px -121px no-repeat; position:absolute; top:-6px; left:34%;}
.proText{color:#FFF; font-weight:bold; padding:4px 74px; float:left;}
.fillStep_2{width:68%;}
.fillStep_3{width:100%;}
.piontStep_2{left:66%;}
.piontStep_3{left:97%;}
.errorTips{display:block; color:#F06644; margin-top:20px;}